* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(315deg, #c2e9fb 0%, #a1c4fd 100%);
}

.hide {
  display: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 4rem 4rem 4rem;
  gap: 3rem;

  border-radius: 0.375rem;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.card h1,
p {
  color: #34355b;
}

button {
  display: inline-flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  background: var(--iris-80, #7879f1);
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: var(--iris-90, #6769f0);
}

input {
  display: inline-flex;
  width: 5rem;
  padding: 1rem;
  align-items: center;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  background: #dce2e9;
  border: none;
}

/*screen2*/

h2 {
  padding-bottom: 1rem;
}
